name: Scorecards supply-chain security scan

on:
  schedule:
    - cron: '30 1 * * 0'
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ossf-scorecard:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run OSSF Scorecard analysis
        uses: devops-actions/.github/.github/workflows/rw-ossf-scorecard.yml@main
